a { text-decoration: none; }
ul { list-style-type: none; }

@font-face {
    font-family: 'Rounded Mplus 1c Bold';
    src: url('font/rounded-mplus-1c-bold.ttf') format('truetype');
}

html {
    overflow: auto;
}

body {
    overflow: hidden;
    background-color: #fff;
    font-family: YuGothic;
}

h2 {
    font-family: 'Rounded Mplus 1c Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #76CCD5;
}

header {
    position: relative;
    height: 562px;
    background: #76CCD5;
}

header > .inner-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

header > .inner-header > .logo {
    display: block;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color: #BDE6EA;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > .inner-header > .logo > .inner-circle {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
header > .inner-header > .logo > .inner-circle > img {
    width: 265px;
    height: 201px;
}

.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble {
    position: absolute;
    bottom: -40px;
    width: 80px;
    height: 80px;
    background-color: #BDE6EA;
    border-radius: 50%;
    animation: bubble 10s ease-in infinite;
}

.bubble:nth-child(1) {
    width: 20px;
    height: 20px;
    left: 30%;
    animation-duration: 6s;
}

.bubble:nth-child(2) {
    left: 20%;
    animation-duration: 3.5s;
}

.bubble:nth-child(3) {
    width: 30px;
    height: 30px;
    left: 30%;
    animation-duration: 7s;
}

.bubble:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 67%;
    animation-duration: 6s;
}

.bubble:nth-child(5) {
    width: 20px;
    height: 20px;
    left: 90%;
    animation-duration: 4.5s;
}

@keyframes bubble {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        bottom: 1000px;
    }
}



.wave > svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    margin-bottom:-7px; /*Fix for safari gap*/
}

.about {
    position: relative;

}

.about > .inner {
    padding: 100px 0;
}

.about > .inner > .text > h3 {
    font-size: 25px;
    line-height: 30px;
    padding: 50px 0;
    font-weight: normal;
}

.about > .inner > .text {
    width: 542px;
    display: block;
    margin: auto;
}

.about > .inner > .text > p {
    font-size: 20px;
    line-height: 24px;
}

.about > .inner > .text > .mb-25 {
    margin-bottom: 25px;
}

.info {
    padding: 100px 0;
    background-color: #FDF7E7;
}

.title-inner > h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    align-items: center;
    color: #76CCD5;
    position: relative;
    padding: 0 0 0 13px;
}

.title-inner > h3::before {
    content: "";
    height: 100%;
    width: 7px;
    border-radius: 3px;
    background-color: #76CCD5;
    position: absolute;
    top: 0;
    left: 0;
}

.info > .container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info > .container > .title {
    margin-bottom: 25px;
}

.info > .container > .title > .title-inner {
    display: flex;
    width: 540px;
}

.info > .container > .title > .title-inner > a {
    font-size: 15px;
    width: 55px;
    height: 25px;
    display: block;
    background-color: #76CCD4;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    padding: 1px;
}

.info > .container > .content {
    width: 540px;
    height: 382px;
    background-color: #fff;
    border: 1px solid #76CCD5;
    border-radius: 18px;
    padding: 26px 24px;

    overflow: auto;
}

.info > .container > .content > ul > li {
    width: 480px;
    display: block;
    border-bottom: 1px dashed #76CCD5;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.info > .container > .content > ul > li > a {
    display: flex;
}

.info > .container > .content > ul > li:last-child {
    border-bottom: none;
}
li > a > .image-box > img {
    width: 94px;
    height: 63px;
    display: block;
    margin-right: 12px;
    object-fit: cover;
}
li > a > .text-box > date {
    font-size: 13px;
    line-height: 17px;
    background-color: #B2E2E7;
    display: block;
    height: 17px;
    width: 130px;

    text-align: center;
    border-radius: 7px;
    color: #fff;
    padding: 1px 2px;
}

li > a > .text-box > .title {
    font-size: 16px;
    line-height: 18px;
    color: #000;
    margin: 7px 0;
}

li > a > .text-box > .description {
    font-size: 13px;
    line-height: 12px;
    color: #969696;
}

.caution {
    position: relative;
}

.caution > .inner {
    padding: 100px 0 155px 0;
}

.caution  > .inner > h2 {
    margin-bottom: 50px;
}

.caution  > .inner > p {
    text-align: center;
}

footer {
    position: relative;
    height: 60px;
}

footer > .wave > svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    margin-bottom:-7px;
}

.about > .fish-group-top {
    position: absolute;
    width: 240px;
    height: 125px;
    left: -50px;
}

.about > .fish-group-top > .fish1 {
    top: 0;
    left: 0;
}

.about > .fish-group-top > .fish2 {
    position: absolute;
    top: 10px;
    left: 115px;
}

.about > .fish-group-top > .fish3 {
    position: absolute;
    top: 55px;
    left: 65px;
}


.about > .fish-group-top > .fish4 {
    position: absolute;
    top: 95px;
    left: 120px;
}


.about > .fish-group-second {
    position: absolute;
    width: 240px;
    height: 125px;
    right: -19px;
    bottom: -30px;
}

.about > .fish-group-second > .fish1 {
    top: 0;
    right: 0;
}

.about > .fish-group-second > .fish2 {
    position: absolute;
    top: 0px;
    right: 54px;
}

.about > .fish-group-second > .fish3 {
    position: absolute;
    top: 45px;
    right: 90px;
}


.about > .fish-group-second > .fish4 {
    position: absolute;
    top: 47px;
    right: 19px;

}


.about > .fish-group-second > .fish5 {
    position: absolute;
    bottom: 20px;
    left: -42px;
}

.about > .fish-group-second > .fish6 {
    position: absolute;
    right: 25px;
    bottom: 0;
}

.caution > .fish-group-third {
    position: absolute;
    width: 240px;
    height: 125px;
    left: 0;
    top: 0;
}

.caution > .fish-group-third > .fish1 {
    position: absolute;
    top: 13px;
    left: -24px;
}

.caution > .fish-group-third > .fish2 {
    position: absolute;
    top: 47px;
    left: 31px;
}

.caution > .fish-group-third > .fish3 {
    position: absolute;
    top: 73px;
    right: 24px;
}

.caution > .fish-group-third > .fish4 {
    position: absolute;
    bottom: 0;
    left: -44px;
}


.caution > .fish-group-fourth {
    position: absolute;
    width: 240px;
    height: 125px;
    right: -26px;;
    bottom: 0;
}

.caution > .fish-group-fourth > .fish1 {
    position: absolute;
    top: 0;
    left: 55px;
}

.caution > .fish-group-fourth > .fish2 {
    position: absolute;
    top: 32px;
    right: 47px;
}

.caution > .fish-group-fourth > .fish3 {
    position: absolute;
    bottom: 22px;
    left: 0;
}

.caution > .fish-group-fourth > .fish4 {
    position: absolute;
    bottom: 22px;
    right: 19px;
}
